<div class="container note-size" ng-controller="mainPageCtrl">
    <div ng-repeat="note in view">
        <div class="box14">
            <!-- Note description -->
            <div class="row note-title">
                <div class="col-lg-8 col-xs-8">
                    <a href="#/notes/{{note.id}}"><div class="note-title-title"> {{ note.title }} </div></a>
                </div>
                <div class="col-lg-4 col-xs-4">
                    <div class="note-title-comments">
                    <button ng-show="session.state > 2" ng-controller="deleteCtrl" ng-click="delete(note.id)" type="button" class="btn btn-danger btn-sm">Delete</button>
                        <a href="#"><i class="fa fa-comments"></i> {{ note.comments }}</a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-xs-8">
                    <div class="note-copright"><i class="fa fa-user"></i> {{ note.login }} </div>
                </div>
                <div class="col-lg-4 col-xs-4">
                    <div class="note-date"> <i class="fa fa-calendar"></i> {{ note.date }} </div>
                </div>
            </div>

            <!-- Note image -->
            <img ng-src='resources/images/notes/{{ note.id }}.png' class="img-responsive img-rounded">

            <div class="note-rank" ng-controller="rate">
                <a ng-click='rate(note.id, "plus")'  class="action-button shadow animate green"><i class="fa fa-plus"></i></a>
                <a ng-click='rate(note.id, "minus")' class="action-button shadow animate red"><i class="fa fa-minus"></i></a>
                <div ng-if="rateinfo() == 1" class="note-rank-rank">{{ note.difference * 1 + 1 * 1}}</div>
                <div ng-if="rateinfo() == 0" class="note-rank-rank">{{ note.difference * 1}}</div>
                <div ng-if="rateinfo() == -1" class="note-rank-rank">{{ note.difference * 1 - 1 * 1}}</div>
            </div>

        </div> <!-- END NOTE -->
    </div> <!-- .ng-repeat -->

</div>

<!-- Dodać dymek do obsługi błędów po powtórnym dodaniu plusa-->
