<div class="container note-size">
    <div ng-repeat="note in ctrl.view">
        <div class="box14">
            <!-- Note description -->
            <div class="row note-title">
                <div class="col-lg-8 col-xs-8">
                    <a href="#/notes/{{note.id}}"><div class="note-title-title"> {{ note.title }} </div></a>
                </div>
                <div class="col-lg-4 col-xs-4">
                    <div class="note-title-comments">
                        <div class="dropdown" ng-controller="notesCommandsCtrl as command">
                            <button ng-if="session.state > 2" class="btn btn-sm btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="caret"></span></button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a ng-click="command.delete(note.id)">Delete</a></li>
                                <li><a ng-show="ctrl.que == true" ng-click="command.moveToMainFast(note.id)">moveToMainFast</a></li>
                                <li><a ng-show="ctrl.que == true" ng-click="command.moveToMain(note.id)">moveToMain</a></li>
                                <li ng-show="ctrl.que == true"><a>Zbanuj usera (to implement)</a></li>
                            </ul>
                            <a ng-href="#/notes/{{note.id}}"><i class="fa fa-comments"></i> {{ note.comments }}</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-xs-8">
                    <div class="note-copright"><i class="fa fa-user"></i> {{ note.login }} </div>
                </div>
                <div class="col-lg-4 col-xs-4">
                    <div class="note-date"> <i class="fa fa-calendar"></i> {{ note.date }} </div>
                </div>
            </div>

            <!-- Note image -->
            <a ng-href="#/notes/{{note.id}}"><img  ng-src='resources/images/notes/{{ note.id }}.png' class="img-responsive img-rounded"></a>

            <div class="row">
                <div class="col-lg-12 note-rank" ng-controller="rateCtrl as rate">
                    <a ng-click='rate.addNewMark(note.id, "plus")'  class="action-button shadow animate green"><i class="fa fa-plus"></i></a>
                    <div ng-if="rate.info() == 1" class="note-rank-rank">{{ note.difference * 1 + 1 * 1}}</div>
                    <div ng-if="rate.info() == 0" class="note-rank-rank">{{ note.difference * 1}}</div>
                    <div ng-if="rate.info() == -1" class="note-rank-rank">{{ note.difference * 1 - 1 * 1}}</div>
                    <a ng-click='rate.addNewMark(note.id, "minus")' class="action-button shadow animate red"><i class="fa fa-minus"></i></a>
                </div>
            </div>

        </div>
    </div> <!-- !NG-REPEAT -->
</div>
