<div style="padding-top: 30px;" class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <a href="#" class="active" id="login-form-link">Logowanie</a>
                        </div>
                        <div class="col-xs-6">
                            <a href="#" id="register-form-link">Zarejestruj się</a>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <log-in-form></log-in-form>
                            <!-- Dodanie walidacji nicku, maila i powtórzonego hasła, blokada buttona gdy warunki nie spełnione, obsługa komunikatów php -->
                            <register-form></register-form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="resources/js/scripts/password-pop.js"></script> <!-- style.css -->
<script src="resources/js/scripts/password-check.js"></script> <!-- Password Pop -->
<script src="resources/js/components/bootstrap-maxlength.min.js"></script> <!-- Password Pop -->
<script>
    $(document).ready(function () {
        $('input#username').maxlength({
            threshold: 20
        });});
</script>
