<div class="container note-size">
    <div class="box14">
        <!-- Note description -->
        <div class="row note-title">
            <div class="col-lg-8 col-xs-8">
                <div class="note-title-title"> {{ view[0].title }} </div>
                </div>
                <div class="col-lg-4 col-xs-4">
                    <div class="note-title-comments">
                    <!-- <button ng-show="session.state > 2" ng-controller="deleteCtrl" ng-click="delete(note.id)" type="button" class="btn btn-danger btn-sm">Delete</button> -->
                        <div class="dropdown">
                            <button ng-show="session.state > 2" class="btn btn-sm btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="caret"></span></button> <span><i class="fa fa-comments"></i> {{ view[0].comments }}</span>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a ng-controller="deleteCtrl" ng-click="delete(view[0].id)">Delete</a></li>
                                <li><a>Zbanuj usera (to implement)</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-xs-8">
                    <div class="note-copright"><i class="fa fa-user"></i> {{ view[0].login }} </div>
                </div>
                <div class="col-lg-4 col-xs-4">
                    <div class="note-date"> <i class="fa fa-calendar"></i> {{ view[0].date }} </div>
                </div>
            </div>

            <!-- Note image -->
            <img src='resources/php/getImage.php?id= + {{ noteID }}' class="img-responsive img-rounded">

            <div class="note-rank" ng-controller="rate">
                <a ng-click='rate(view[0].id, "plus")'  class="action-button shadow animate green"><i class="fa fa-plus"></i></a>
                <a ng-click='rate(view[0].id, "minus")' class="action-button shadow animate red"><i class="fa fa-minus"></i></a>
                <div ng-if="rateinfo() == 1" class="note-rank-rank">{{ view[0].difference * 1 + 1 * 1}}</div>
                <div ng-if="rateinfo() == 0" class="note-rank-rank">{{ view[0].difference * 1}}</div>
                <div ng-if="rateinfo() == -1" class="note-rank-rank">{{ view[0].difference * 1 - 1 * 1}}</div>
            </div>
        </div> <!-- END NOTE -->

    <!-- Contenedor Principal -->
    <div class="comments-container">
        <h1>Komentarze:</h1>
    <ul id="comments-list" class="comments-list">
        <li>
            <div class="comment-main-level">
            <!-- Avatar -->
                <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg" alt=""></div>
                <!-- Contenedor del Comentario -->
                <div class="comment-box">
                    <div class="comment-head">
                        <h6 class="comment-name by-author"><a href="http://creaticode.com/blog">Stosiu</a></h6>
                        <span>dodany 20 minut temu</span>
                        <i class="fa fa-minus"></i>
                        <i style="top: 7px;">+24</i>
                        <i class="fa fa-plus"></i>
                        <i class="fa fa-reply"></i>
                    </div>
                    <div class="comment-content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?
                    </div>
                </div>
            </div>
            <!-- Respuestas de los comentarios -->
            <ul class="comments-list reply-list">
                <li>
                <!-- Avatar -->
                    <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_2_zps7de12f8b.jpg" alt=""></div>
                    <!-- Contenedor del Comentario -->
                    <div class="comment-box">
                        <div class="comment-head">
                            <h6 class="comment-name"><a href="http://creaticode.com/blog">Rzuf</a></h6>
                            <span>dodany 10 minut temu</span>
                            <i class="fa fa-minus"></i>
                            <i style="top: 7px;">+3</i>
                            <i class="fa fa-plus"></i>
                        </div>
                        <div class="comment-content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?
                        </div>
                    </div>
                </li>

                <li>
                    <!-- Avatar -->
                    <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg" alt=""></div>
                    <!-- Contenedor del Comentario -->
                    <div class="comment-box">
                        <div class="comment-head">
                            <h6 class="comment-name by-author"><a href="http://creaticode.com/blog">Stosiu</a></h6>
                            <span>dodany 5 minut temu</span>
                            <i class="fa fa-minus"></i>
                            <i style="top: 7px;">-5</i>
                            <i class="fa fa-plus"></i>
                        </div>
                        <div class="comment-content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?
                        </div>
                    </div>
                </li>
            </ul>
        </li>

        <li>
            <div class="comment-main-level">
            <!-- Avatar -->
                <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_2_zps7de12f8b.jpg" alt=""></div>
        <!-- Contenedor del Comentario -->
                <div class="comment-box">
                    <div class="comment-head">
                        <h6 class="comment-name"><a href="http://creaticode.com/blog">Rzuf</a></h6>
                        <span>dodany 20 minut temu</span>
                        <i class="fa fa-minus"></i>
                        <i style="top: 7px;">-693</i>
                        <i class="fa fa-plus"></i>
                        <i class="fa fa-reply"></i>
                    </div>
                    <div class="comment-content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?
                    </div>
                </div>
            </div>
        </li>
    </ul>
    </div>
<!-- Dodać dymek do obsługi błędów po powtórnym dodaniu plusa-->
</div>
