<div class="container note-size">
    <div class="box14">
        <div class="row note-title">
            <div class="col-lg-8 col-xs-8">
                <div class="note-title-title"> {{ ctrl.noteDetails.title }}</div>
            </div>
            <div class="col-lg-4 col-xs-4">
                <div class="note-title-comments">
                    <span class="dropdown" ng-controller="notesCommandsCtrl as command">
                        <button ng-if="session.state > 2" class="btn btn-sm btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="caret"></span></button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a ng-click="command.delete(ctrl.noteID)">Delete</a></li>
                            <li><a ng-click="command.moveToMainFast(ctrl.noteID)">moveToMainFast</a></li>
                            <li><a ng-click="command.moveToMain(ctrl.noteID)">moveToMain</a></li>
                            <li><a data-toggle="modal" data-target="#myModal">Zbanuj usera</a></li>
                        </ul>
                    </span>
                    <span><a href="#"><i class="fa fa-comments"></i> {{ ctrl.noteDetails.comments }}</a></span>
                </div>
            </div>
        </div>

            <div class="row">
                <div class="col-lg-8 col-xs-8">
                    <div class="note-copright"><i class="fa fa-user"></i> {{ ctrl.noteDetails.login }} </div>
                </div>
                <div class="col-lg-4 col-xs-4">
                    <div class="note-date"> <i class="fa fa-calendar"></i> {{ ctrl.noteDetails.date }} </div>
                </div>
            </div>

            <!-- Note image -->
            <img ng-src='resources/images/notes/{{ ctrl.noteID }}.png' class="img-responsive img-rounded">
            <!-- Rank buttons -->
            <rate-buttons id="ctrl.noteID" dif='ctrl.noteDetails.difference'></rate-buttons>
        </div> <!-- END NOTE -->

    <!-- Contenedor Principal -->
    <div class="comments-container">
        <h1>Komentarze:</h1>
    <ul id="comments-list" class="comments-list">
        <li>
            <div class="comment-main-level">
            <!-- Avatar -->
                <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg" alt=""></div>
                <!-- Contenedor del Comentario -->
                <div class="comment-box">
                    <div class="comment-head">
                        <h6 class="comment-name by-author"><a href="http://creaticode.com/blog">Stosiu</a></h6>
                        <span>dodany 20 minut temu</span>
                        <i class="fa fa-minus"></i>
                        <i style="top: 7px;">+24</i>
                        <i class="fa fa-plus"></i>
                        <i class="fa fa-reply"></i>
                    </div>
                    <div class="comment-content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?
                    </div>
                </div>
            </div>
            <!-- Respuestas de los comentarios -->
            <ul class="comments-list reply-list">
                <li>
                <!-- Avatar -->
                    <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_2_zps7de12f8b.jpg" alt=""></div>
                    <!-- Contenedor del Comentario -->
                    <div class="comment-box">
                        <div class="comment-head">
                            <h6 class="comment-name"><a href="http://creaticode.com/blog">Rzuf</a></h6>
                            <span>dodany 10 minut temu</span>
                            <i class="fa fa-minus"></i>
                            <i style="top: 7px;">+3</i>
                            <i class="fa fa-plus"></i>
                        </div>
                        <div class="comment-content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?
                        </div>
                    </div>
                </li>

                <li>
                    <!-- Avatar -->
                    <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg" alt=""></div>
                    <!-- Contenedor del Comentario -->
                    <div class="comment-box">
                        <div class="comment-head">
                            <h6 class="comment-name by-author"><a href="http://creaticode.com/blog">Stosiu</a></h6>
                            <span>dodany 5 minut temu</span>
                            <i class="fa fa-minus"></i>
                            <i style="top: 7px;">-5</i>
                            <i class="fa fa-plus"></i>
                        </div>
                        <div class="comment-content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?
                        </div>
                    </div>
                </li>
            </ul>
        </li>

        <li>
            <div class="comment-main-level">
            <!-- Avatar -->
                <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_2_zps7de12f8b.jpg" alt=""></div>
        <!-- Contenedor del Comentario -->
                <div class="comment-box">
                    <div class="comment-head">
                        <h6 class="comment-name"><a href="http://creaticode.com/blog">Rzuf</a></h6>
                        <span>dodany 20 minut temu</span>
                        <i class="fa fa-minus"></i>
                        <i style="top: 7px;">-693</i>
                        <i class="fa fa-plus"></i>
                        <i class="fa fa-reply"></i>
                    </div>
                    <div class="comment-content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?
                    </div>
                </div>
            </div>
        </li>
    </ul>
    </div>
<!-- Dodać dymek do obsługi błędów po powtórnym dodaniu plusa-->
</div>

<!-- Modal -->
<div ng-if="session.state > 2" ng-controller="notesCommandsCtrl as command" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Zbanuj {{ctrl.noteDetails.login}}</h4>
            </div>
            <div class="modal-body" style="text-align: center;">
                <pre>{{command.time || 'Na jak długo'}}</pre>
                <div class="btn-group">
                    <label class="btn btn-danger" ng-model="command.time" btn-radio="'Godzina'">Godzina</label>
                    <label class="btn btn-danger" ng-model="command.time" btn-radio="'Dzień'">Dzień</label>
                    <label class="btn btn-danger" ng-model="command.time" btn-radio="'Tydzień'">Tydzień</label>
                    <label class="btn btn-danger" ng-model="command.time" btn-radio="'Miesiąc'">Miesiąc</label>
                </div>
                <hr>
                <pre>{{command.category || 'Kategoria'}}</pre>
                <div class="btn-group">
                    <label class="btn btn-danger" ng-model="command.category" btn-radio="'Nie przestrzeganie reuglaminu'">Nie przestrzeganie reuglaminu</label>
                    <label class="btn btn-danger" ng-model="command.category" btn-radio="'Upomnienie'">Upomnienie</label>
                    <label class="btn btn-danger" ng-model="command.category" btn-radio="'Inne'">Inne</label>
                </div>
                <hr>
                <textarea class="form-control" placeholder="Opis" ng-model='command.description'></textarea>
                <hr>
                <div class="alert alert-warning" role="alert" ng-show='!command.description'>
                    <strong>Uwaga:</strong> Pole opisu nie może być puste.
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cofnij</button>
                <button type="button" class="btn btn-danger" ng-disabled='!command.description' ng-click='command.giveBan(command.time, command.category, command.description, ctrl.noteDetails.login)'>Banuj</button>
            </div>
        </div>
    </div>
</div>
