<!-- Contenedor Principal -->
<div ng-if='session.state == 1' class="alert alert-info alert-dismissable">Aby móc dodawać komentarze musisz aktywować swoje konto.</div>
<div ng-if='session.logged == 0' class="alert alert-info alert-dismissable">Jak się zalogujesz ble ble ble.</div>
<div class="comments-container">
    <h1>Komentarze:</h1>
    <ul id="comments-list" class="comments-list">
        <!-- Add new comment -->
        <li ng-if='session.state != 1'>
            <div class="comment-main-level">
                <div class="comment-avatar">
                    <img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_2_zps7de12f8b.jpg" alt="">
                </div>
                <div class="comment-box">
                    <div class="comment-head">
                        <h6 class="comment-name">Dodaj komentarz:</h6>
                    </div>
                    <div class="comment-content">
                        <textarea style="max-width: 100%;"class="form-control"></textarea>
                        <button type="button" class="btn btn-block btn-primary">Dodaj</button>
                    </div>
                </div>
            </div>
        </li>
        <!-- Comments list -->
        <div ng-repeat="comment in comments">
            <li>
                <div class="comment-main-level">
                    <!-- Avatar -->
                    <div class="comment-avatar">
                        <img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_2_zps7de12f8b.jpg" alt="">
                    </div>
                    <!-- Contenedor del Comentario -->
                    <div class="comment-box">
                        <div class="comment-head">
                            <h6 class="comment-name"><a href="http://creaticode.com/blog">{{comment.login}}</a></h6>
                            <span>dodany {{comment.date | timeAgo}}</span>
                            <i ng-click='ctrl.addNewMark(comment.id, "minus")' class="fa fa-minus"></i>
                            <i ng-if="ctrl.info() == 1" style="top: 7px;">{{comment.difference * 1 + 1 * 1}}</i>
                            <i ng-if="ctrl.info() == 0" style="top: 7px;">{{comment.difference * 1}}</i>
                            <i ng-if="ctrl.info() == -1" style="top: 7px;">{{comment.difference * 1 - 1 * 1}}</i>
                            <i ng-click='ctrl.addNewMark(comment.id, "plus")' class="fa fa-plus"></i>
                            <i class="fa fa-reply"></i>
                        </div>
                        <div class="comment-content">
                            {{comment.text}}
                        </div>
                    </div>
                </div>
                <ul class="comments-list reply-list">
                    <li>
                    <!-- Avatar -->
                        <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg" alt=""></div>
                        <!-- Contenedor del Comentario -->
                        <div class="comment-box">
                            <div class="comment-head">
                                <h6 class="comment-name by-author"><a href="http://creaticode.com/blog">Stosiu</a></h6>
                                <span class="hidden-xs">dodany 10 minut temu</span>
                                <i class="fa fa-minus"></i>
                                <i style="top: 7px;">+3</i>
                                <i class="fa fa-plus"></i>
                            </div>
                            <div class="comment-content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </div>
    </ul>
</div>
