<div class="row">
    <div class="col-lg-12 note-rank">
        <a class='like-button addToFavourites-button'><i style="font-size: 30px;" class="fa fa-heart"></i></a>
        <a class='plus-button action-button' ng-click='rate.addNewMark(noteID, "plus")'><i class="fa fa-plus"></i></a>
        <span class="note-rank-rank plus">8888</span>
        <!-- <span ng-if="rate.info() == 1" class="note-rank-rank plus">{{ noteDiffrence * 1 + 1 * 1}}</span>
        <span ng-if="rate.info() == 0" class="note-rank-rank default">{{ noteDiffrence * 1}}</span>
        <span ng-if="rate.info() == -1" class="note-rank-rank minus">{{ noteDiffrence * 1 - 1 * 1}}</span> -->
        <a class='minus-button action-button' ng-click='rate.addNewMark(noteID, "minus")'><i class="fa fa-minus"></i></a>
        <!-- <a ng-click='rate.addNewMark(noteID, "plus")'  class="action-button shadow animate green"><i class="fa fa-plus"></i></a> -->
        <!-- <span class="note-rank-rank">3</span> -->
        <!-- <a ng-click='rate.addNewMark(noteID, "minus")' class="action-button shadow animate red"><i class="fa fa-minus"></i></a> -->
    </div>
</div>
