body {
    /* #222930 #4EB1BA #E9E9E9 */
	background-image: url(../img/bg.png); 
	background-position: initial initial; 
	background-repeat: initial initial;
	padding-top: 60px;
    color: #222930;
    background-color: #E9E9E9;
    font-family: 'Open Sans', sans-serif;
}

/* Adding notes */
.add-note {
	margin-left: 20px;
	margin-right: 20px;
	padding-top: 10px;
	padding-bottom: 30px;
	padding-right: 10px;
	padding-left: 10px;
	background-color: white;
	border-radius: 5px;
    border-bottom: 4px solid #4EB1BA;

}

.add-note:hover {
	border-bottom: 3px solid #4EB1BA;
}

/* Navbar */
.navbar-inverse {
    background-color: #222930;
    border-bottom: 4px solid #4EB1BA;
}
.pagination>li>a, .pagination>li>span { border-radius: 50% !important;margin: 0 3px;}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #222930;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #CCC;
}

/* Notes shadow */
img {
	box-shadow: 0 4px 4px -2px #888888;
    -moz-box-shadow: 0 4px 4px -2px #888888;
    -webkit-box-shadow: 0 4px 4px -2px #888888;
}

/* Remove link udnerline */
a:hover {
    text-decoration: none;
}

/* Note design */
.note {
	padding-top: 10px;
	padding-bottom: 30px;
	padding-right: 10px;
	padding-left: 10px;
	background-color: white;
	border-radius: 5px;
	/* -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow:0 0 10px rgba(0, 0, 0, 0.5); v.1.0.0 */ 
	box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
    border-bottom: 4px solid #4EB1BA;
}

.note:hover {
	border-bottom: 3px solid #4EB1BA;
}

.note-size {
	max-width:730px;
}

.note-title-title {	text-align: left; }
.note-title-comments { text-align: right; }

.note-title {
	padding-bottom: 0px;
	font-size: 26px;
	text-transform: uppercase;
	font-weight: bold;
	font-style: italic;
}

.note-spacing {
	height:1px;
	background:#717171;
	border-bottom:1px solid #313030;
	/* border-bottom: 2px solid #848484; */
}

.note-rank {
	padding-top: 10px;
	font-size: 18px;
	padding-bottom: 15px;
	max-width: 150px;
}

.note-rank-rank {
	font-size: 24px;
	font-weight: bold;
	font-style: italic;
	margin-top: 2px;
}

.note-rank-plus-and-minus {	text-align: left; }
.note-rank-social { text-align: right; }


.note-copright {
	font-size: 16px;
	margin-left: 5px;
	font-weight: bold;
}

.note-date {
	font-size: 16px;
	text-align: right;
	font-weight: bold;
}

.notes-pagination {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

/* Space between noes */
.space {
	padding-top: 10px;
	padding-bottom: 10px;
}

/*
Code snippet by maridlcrmn for Bootsnipp.com
Follow me on Twitter @maridlcrmn
*/
.navbar-brand { position: relative; z-index: 2; }

.navbar-nav.navbar-right .btn { position: relative; z-index: 2; padding: 4px 20px; margin: 10px auto; }

.navbar .navbar-collapse { position: relative; }
.navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 22px; }

.navbar .nav-collapse { position: absolute; z-index: 1; top: 0; left: 0; right: 0; bottom: 0; margin: 0; padding-right: 120px; padding-left: 80px; width: 100%; }
.navbar.navbar-default .nav-collapse { background-color: #f8f8f8; }
.navbar.navbar-inverse .nav-collapse { background-color: #222; }
.navbar .nav-collapse .navbar-form { border-width: 0; box-shadow: none; }
.nav-collapse>li { float: right; }

.btn.btn-circle { border-radius: 50px; }
.btn.btn-outline { background-color: transparent; }

@media screen and (max-width: 767px) {
    .navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 15px; padding-right: 15px; } 
    
    .navbar .nav-collapse { margin: 7.5px auto; padding: 0; }
    .navbar .nav-collapse .navbar-form { margin: 0; }
    .nav-collapse>li { float: none; }
    .note-title { font-size: 15px;}
    .note-copright { font-size: 13px;}
    .note-date { font-size: 13px;}
}

/* Comments */
.widget .panel-body { padding:0px; }
.widget .list-group { margin-bottom: 0; }
.widget .panel-title { display:inline }
.widget .label-info { float: right; }
.widget li.list-group-item {border-radius: 0;border: 0;border-top: 1px solid #ddd;}
.widget li.list-group-item:hover { background-color: rgba(86,61,124,.1); }
.widget .mic-info { color: #666666;font-size: 11px; }
.widget .action { margin-top:5px; }
.widget .comment-text { font-size: 12px; }
.widget .btn-block { border-top-left-radius:0px;border-top-right-radius:0px; }



.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button
{
	position: relative;
	padding: 5px 15px;
  	margin: 0px 5px 5px 0px;
  	float: left;
	border-radius: 5px;
	font-family: 'Pacifico', cursive;
	font-size: 15px;
	color: #FFF;
	text-decoration: none;	
}

.red
{
	background-color: #E74C3C;
	border-bottom: 5px solid #BD3E31;
	text-shadow: 0px -2px #BD3E31;
}

.green
{
	background-color: #82BF56;
	border-bottom: 5px solid #669644;
	text-shadow: 0px -2px #669644;
}

.blue
{
	background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
}

.action-button:hover
{
	transform: translate(0px,5px);
  	-webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
	color: #fff;
}

.box14{
    margin: 40px auto;
    padding: 10px;
    position:relative;
    background: -webkit-gradient(linear, 0% 20%, 0% 92%, from(#fff), to(#f3f3f3), color-stop(.1,#fff));
    border: 1px solid #ccc;
    -webkit-border-radius: 60px 5px;
    -webkit-box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.1) inset;
}

.box14:before{
    content: '';
    width: 50px;
    height: 50px;
    top:0; right:0;
    position:absolute;
    display: inline-block;
    z-index:-1;
    -webkit-box-shadow: 10px -10px 8px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotate(2deg)
                        translate(-14px,20px)
                           skew(-20deg);
}

.box14:after{
    content: '';
    width: 100px;
    height: 100px;
    top:0; left:0;
    position:absolute;
    z-index:-1;
    display: inline-block;
    -webkit-box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotate(2deg)
                        translate(20px,25px)
                           skew(20deg);
}

.box14_ribbon{
    position:absolute;
    top:0; right: 0;
    width: 130px;
    height: 40px;
    background: -webkit-gradient(linear, 555% 20%, 0% 92%, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.0)), color-stop(.1,rgba(0, 0, 0, 0.2)));
    border-left: 1px dashed rgba(0, 0, 0, 0.1);
    border-right: 1px dashed rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotate(6deg) skew(0,0) translate(-60%,-5px);
}

.button {        
    display: inline-block;
    white-space: nowrap;
    background-color: #ccc;
    background-image: linear-gradient(top, #eee, #ccc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
    border: 1px solid #777;
    padding: 0 1.5em;
    margin: 0.5em;
    font: bold 1em/2em Arial, Helvetica;
    text-decoration: none;
    color: #333;
    text-shadow: 0 1px 0 rgba(255,255,255,.8);
    border-radius: .2em;
    box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
}

.button:hover {
    background-color: #ddd;        
    background-image: linear-gradient(top, #fafafa, #ddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', EndColorStr='#dddddd');        
}

.button:active {
    box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
    position: relative;
    top: 1px;
}

.button:focus {
    outline: 0;
    background: #fafafa;
}    

.button:before {
    background: #ccc;
    background: rgba(0,0,0,.1);
    float: left;        
    width: 1em;
    text-align: center;
    font-size: 1.5em;
    margin: 0 1em 0 -1em;
    padding: 0 .2em;
    box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
    border-radius: .15em 0 0 .15em;
    pointer-events: none;        
}

/* Hexadecimal entities for the icons */

.add:before {
    content: "\271A";
}

.edit:before {
    content: "\270E";        
}

.delete:before {
    content: "\2718";        
}

.save:before {
    content: "\2714";        
}

.email:before {
    content: "\2709";        
}

.like:before {
    content: "\2764";        
}

.next:before {
    content: "\279C";
}

.star:before {
    content: "\2605";
}

.spark:before {
    content: "\2737";
}

.play:before {
    content: "\25B6";
}
