<div class="container note-size">
    <div class="box14">
        <!-- Note description -->
        <div class="row note-title">
            <div class="col-lg-8 col-xs-8">
                <div class="note-title-title"> {{ view[0].title }} </div>
                </div>
                <div class="col-lg-4 col-xs-4">
                    <div class="note-title-comments">
                    <button ng-controller="deleteCtrl" ng-click="delete(note.id)" type="button" class="btn btn-danger btn-sm">Delete</button>
                        <i class="fa fa-comments"></i> 65
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-xs-8">
                    <div class="note-copright"><i class="fa fa-user"></i> {{ view[0].login }} </div>
                </div>
                <div class="col-lg-4 col-xs-4">
                    <div class="note-date"> <i class="fa fa-calendar"></i> {{ view[0].date }} </div>
                </div>
            </div>

            <!-- Note image -->
            <img src='resources/php/getImage.php?id= + {{ noteID }}' class="img-responsive img-rounded">
            
            <div class="note-rank" ng-controller="rate">
                <a ng-click='rate(view[0].id, "plus")'  class="action-button shadow animate green"><i class="fa fa-plus"></i></a>
                <a ng-click='rate(view[0].id, "minus")' class="action-button shadow animate red"><i class="fa fa-minus"></i></a>
                <div ng-if="rateinfo() == 1" class="note-rank-rank">{{ view[0].difference * 1 + 1 * 1}}</div>
                <div ng-if="rateinfo() == 0" class="note-rank-rank">{{ view[0].difference * 1}}</div>
                <div ng-if="rateinfo() == -1" class="note-rank-rank">{{ view[0].difference * 1 - 1 * 1}}</div>
            </div>

        </div> <!-- END NOTE -->
</div>


<!-- Dodać dymek do obsługi błędów po powtórnym dodaniu plusa-->